<div>
  Details for card #{{id}}
</div>
<button (click)="previousPage()">Back to cards</button>
<div class="row">
  <div class="col col-6 col-sm-12">
    <div class="card">
      <div class="id">{{ card.id }}</div>
      <div class="topic">{{ cardEditor['controls'].topic.value || card.topic }}</div>
      <div class="info">
        <div class="word">{{ cardEditor['controls'].wordEn.value || card.wordEn }}</div>
        <div class="example">{{ cardEditor['controls'].exampleEn.value || card.exampleEn }}</div>
        <div class="context">{{ cardEditor['controls'].contextEn.value || card.contextEn }}</div>
      </div>
      <div class="picture">
        <img src="{{ newImageUrl || card.img }}" alt="{{ card.wordRu }}">
      </div>
    </div>
  </div>

  <div class="col col-6 col-sm-12">
    <form [formGroup]="cardEditor" (ngSubmit)="updateCard(cardEditor.value)">
      <div *ngFor="let key of cardKeys" class="card-editor">
        <label>{{key}}
          <input type="text" formControlName="{{key}}" placeholder="{{card[key]}}" *ngIf="key!=='img'; else imageBlock">
          <ng-template #imageBlock>
            <input type="file" formControlName="{{key}}" (change)="previewImage($event)">
          </ng-template>
        </label>
      </div>
      <button type="submit">Save</button>
    </form>
  </div>
</div>
