@import url("https://fonts.googleapis.com/css?family=Do+Hyeon:regular");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic");
$headerColor: rgb(182, 216, 255);

@mixin fonts($family, $size) {
  font: {
    family: $family;
    size: $size;
  }
}

$font1: "Do Hyeon",
16px;
$font2: "Open Sans",
14px;

.row {
  align-items: center;

  .card {
    margin: 0 auto;
    width: 450px;
    height: 150px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 1%;
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: min-content;
    box-shadow: 3px 2px 3px 1px #666;
    @include fonts($font2...);

    .topic {
      grid-column-start: 1;
      grid-column-end: 3;
      padding: 0 10px;
      background-color: $headerColor;
      height: 25px;
      @include fonts($font1...);
      line-height: 25px;
      font-size: 15px;
      text-align: right;
    }

    .info {
      position: relative;
      padding: 5px;

      .word {
        @include fonts($font1...);
        font-size: 20px;
      }
    }

    .context {
      position: absolute;
      bottom: 10px;
    }

    .picture {
      width: 100px;
      height: 100px;
      align-self: center;
      margin-right: 5px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  form {
    mat-form-field {
      width: 100%;
    }
  }
}
