<div class="row">
  <div class="col col-6 col-sm-12">
    <div class="card">
      <div class="topic">{{ form['controls'].topic.value }}</div>
      <div class="info">
        <div class="word">{{ form['controls'].wordEn.value }}</div>
        <div class="example">{{ form['controls'].exampleEn.value }}</div>
        <div class="context">{{ form['controls'].contextEn.value }}</div>
      </div>
      <div class="picture">
        <img src="http://via.placeholder.com/100x100" alt="{{form['controls'].wordEn.value}}">
      </div>
    </div>
  </div>
  <div class="col col-6 col-sm-12 form-column">
    <a class="delete" mat-fab color="warn" (click)="delete.emit()" *ngIf="card">X</a>
    <form [formGroup]="form" (ngSubmit)="updateCard(form.value)">
      <mat-form-field>
        <input matInput formControlName="topic" placeholder="Topic">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="wordEn" placeholder="Word">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="exampleEn" placeholder="Example">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="contextEn" placeholder="Context">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="wordRu" placeholder="Translation">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="exampleRu" placeholder="Example translation">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="contextRu" placeholder="Context translation">
      </mat-form-field>
      <div class="row">
        <div class="col col-sm-12 text-center">
          <button type="button" mat-raised-button routerLink="/cards">Back to cards</button>
        </div>
        <div class="col col-sm-12 text-center">
          <button class="center" type="submit" mat-raised-button color="primary">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
