<mat-toolbar>
  <header>

    <span class="caption">
      <a href="/">English Flashcards</a>
    </span>

    <ng-container class="user" *ngIf="this.isLoggedIn | async; else elseTemplate">
      <button mat-button [matMenuTriggerFor]="menu">
        <i class="material-icons">account_circle</i>
        <span class="username">{{username}}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/cards', username]">My cards</button>
        <button mat-menu-item routerLink="/cards">All cards</button>
        <button mat-menu-item (click)="logOut()">Log out</button>
      </mat-menu>
    </ng-container>

    <ng-template #elseTemplate>
      <div class="auth">
        <button mat-button routerLink="/register">Register</button>
        <button mat-button routerLink="/login">Log In</button>
      </div>
    </ng-template>

  </header>
</mat-toolbar>
