header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  .caption {
    margin-right: auto;
    text-align: center;
  }

  .user {
    i {
      font-family: 'Material Icons';
      font-weight: 400;
      font-size: 40px;
      vertical-align: middle;
    }

    .username {
      font-size: 18px;
    }
  }

  .auth>div {
    display: inline-block;
    margin-right: 25px;
  }
}
