<mat-card class="example-card">
  <form [formGroup]="form" (ngSubmit)="logIn(form.value)">
    <mat-card-header>
      <mat-card-title>{{pageTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input matInput formControlName="username" placeholder="username" #username required>
              <mat-error *ngIf="form['controls'].username.hasError('required')">This field is required</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="password" formControlName="password" placeholder="password" #password required>
              <mat-error *ngIf="form['controls'].password.hasError('required')">This field is required</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Login</button>
      <button mat-raised-button color="primary" type="button" routerLink="/register">Register</button>
    </mat-card-actions>
  </form>
</mat-card>
