<mat-card class="example-card">
  <form [formGroup]="form" (ngSubmit)="signUp(form.value)">
    <mat-card-header>
      <mat-card-title>Registering</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input matInput formControlName="username" placeholder="username">
              <mat-error *ngFor="let validation of validations">
                <ng-container *ngIf="form.get('username').hasError(validation.type)">{{validation.message}}</ng-container>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput formControlName="email" placeholder="email">
              <mat-error *ngFor="let validation of validations">
                <ng-container *ngIf="form.get('email').hasError(validation.type)">{{validation.message}}</ng-container>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput type="password" formControlName="password" placeholder="password">
              <mat-error *ngFor="let validation of validations">
                <ng-container *ngIf="form.get('password').hasError(validation.type)">{{validation.message}}</ng-container>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="button" routerLink="/login">Login</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Register</button>
    </mat-card-actions>
  </form>
</mat-card>
