<div>
  Details for card #{{id}}
</div>
<div>{{cardsArray$ | async | json}}</div>
<!-- <div class="card">
  <div class="id">{{ cardsArray$.id | async }}</div>
  <div class="topic">{{ cardsArray$.topic | async }}</div>
  <div class="info">
    <div class="word">{{ cardsArray$.wordEn | async }}</div>
    <div class="example">{{ cardsArray$.exampleEn | async }}</div>
    <div class="context">{{ cardsArray$.contextEn | async }}</div>
  </div>
  <div class="picture">
    <img src="{{ cardsArray$.img | async }}" alt="{{ cardsArray$.wordRu | async }}">
  </div>
</div>
 -->
