.card {
    width: 500px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 1%;
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 20px, 1fr;
}

.id {
    padding: 5px;
    background-color: rgb(204, 247, 232);
}
.topic {
    text-align: right;
    padding: 5px;
    background-color:  rgb(204, 247, 232);
}
.info {
    position: relative;
    padding: 5px;

}
.context {
    position: absolute;
	bottom: 5px;
}
.picture img {
    width: 100px;
    height: 100px;
}
